<section class="main">
  <input
    id="toggle-all"
    type="checkbox"
    (change)="completedAllItems()"
    [formControl]="completedAll"
  />

  <label for="toggle-all">Mark all as completed</label>

  <ul class="todo-list">
    <app-todo
      *ngFor="let todo of currentItems | async"
      (setEditingId) = "setEditingId($event)"
      (deleteItem) = "removeItem($event)"
      (editItem) = "editItem($event)"
      (statusItem) = "setItemStatus($event)"
      [todo] = "todo"
    ></app-todo>
  </ul>
</section>
