<section class="main" [ngClass]="{ hidden: isTodoListEmpty | async }">
  <input
    id="toggle-all"
    type="checkbox"
    (change)="onToggleAllTodos()"
    [formControl]="toggleAll"
  />

  <label for="toggle-all">Mark all as completed</label>

  <ul class="todo-list">
    <app-todo
      *ngFor="let todo of currentTodos | async"
      (editingId) = "onEditingId($event)"
      (deleteId) = "removeTodo($event)"
      (editItem) = "changeTodo($event)"
      [todo] = "todo"
    ></app-todo>
  </ul>
</section>
